{% extends "layout.html" %}
{% block content %}
<script>
    if (localStorage.getItem("megacredits") === null) {
        localStorage.setItem("megacredits", 0);
    }

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("megacredit-display").textContent = getMegacredits();
    });

    function getMegacredits() {
    return parseInt(localStorage.getItem("megacredits"), 10);
    }

    function updateMegacredits(amount) {
        let currentCredits = getMegacredits();
        currentCredits += amount;
        localStorage.setItem("megacredits", currentCredits);
        document.getElementById("megacredit-display").textContent = currentCredits;
    }
</script>
    <hgroup>
        <h2>Megacredit Calculator</h2>
        <h3>Manage Your Megacredits</h3>
    </hgroup>
        <p class="text-center">
        <span class="text-large">Megacredits:</span>
        <span id="megacredit-display"></span>
        </p>
    <form class="grid">
        <input type="number" id="credit-input" />
        <button onclick="updateMegacredits(parseInt(document.getElementById('credit-input').value, 10))">Add</button>
        <button onclick="updateMegacredits(-parseInt(document.getElementById('credit-input').value, 10))">Subtract</button>
    </form>
{% endblock %}
