{% extends "layout.html" %}
{% block content %}
    <hgroup>
        <h2>Rule Book</h2>
        <h3>Complete Terraforming Mars Rule Book</h3>
    </hgroup>
    <p>Read the full Terraforming Mars rule book in a paginated, easy-to-read format.</p>
    <object data="https://cdn.1j1ju.com/medias/13/3f/fb-terraforming-mars-rule.pdf" type="application/pdf" width="100%" height="600px">
        <p>Your browser does not support PDFs. Please download the PDF to view it: <a href="https://cdn.1j1ju.com/medias/13/3f/fb-terraforming-mars-rule.pdf">Download PDF</a>.</p>
    </object>
{% endblock %}

